/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require lightbox
 *= require_tree .
 */

.inline-nav-user
{
    line-height: 2.8;
    font-weight: bold;
    margin-left: 40px;
}

.list-group-item
{
    font-weight: bold;
}

/*Footer Components */
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    padding-top: -4em;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}
.footer, .push {
    height: 6em;
}
.footer, .push {
    clear: both;
}

/*Carousel Components */
.item{
    background: #333;
    text-align: center;
    height: 300px !important;
}
.carousel{
    margin-top: 20px;
}
.bs-example{
    margin: 20px;
}

/*View products*/
.product_price{
    font-weight: bold;
    font-size: 36px;
    padding-right: 10px;
    line-height: 90%;
}

.product_buttons{
    position:relative;
    bottom:8px
}







