// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-group  {
              padding-top: 10px
}


.padded-form {
              padding-left: 30px;
              padding-top: 10px
}

.input         {
              width: 300px;
}