<div style="padding-top: 2em;"></div>
<div class="panel-footer">
    <div class="wrapper">
        <div class="push"></div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="col-md-3">

            </div>

            <div class="col-md-3">
                Categories


                  <div>
                    <% @active_categories.each do |c| %>
                    <%= link_to(c.category_name, store_path(:category_id => c.id), :method => :GET) %></br>
                    <% end %>
                  </div>
             </div>

             <div class="col-md-3">
               Admin


                   <div>
                     <a href="/sessions/new">Login</a>
                   </div>

               </div>
             </div>

            </div>

        </div>
    </div>
</div>


